body{
    background-color: black;
    color: rgb(0, 0, 0);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 5px rgb(0, 0, 0) solid;
    width: 1000px;
    height: 1150px;
    max-width: 1000px;
    min-width: 400px;
    background-color: rgb(80, 76, 76);
    box-shadow: 31px 9px 35px 10px rgba(87, 0, 0, 0.76);
    -webkit-box-shadow: 31px 9px 35px 10px rgba(73, 1, 1, 0.76);
    -moz-box-shadow: 31px 9px 35px 10px rgba(77, 2, 2, 0.76);
    font-size: 36px;
    margin: auto;
}

input {
    width: 500px;
    height: 40px;
    font-size: 24px;
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px 10px;
    box-sizing: border-box;
}

input:invalid {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

input:hover {
    border-color: rgb(157, 255, 0);
    color: rgb(221, 255, 0);
}

input:focus {
    border-color: rgb(47, 0, 255);
    cursor: pointer;
}

input:placeholder-shown {
    border-color: rgb(255, 165, 0);
    color: rgb(255, 165, 0);
}


input:checked {
    border-color: rgb(255, 0, 212);
    accent-color: rgb(255, 0, 221);
}

.gender {
    display: flex;
    flex-direction: column;
    
}

.gender-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gender-item input {
    width: 30px;
}

.gender-item label {
    width: 30px;
}

.svg-icon {
    width: 30px;
    height: 30px;


}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

